#
# Copyright 2012, Deutsche Telekom Laboratories 
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

CONFIG_SH_SOURCED=1

NODE_PREFIX="testcluster-"

ADMIN_MEMORY=4048
COMPUTE_MEMORY=2048
STORAGE_MEMORY=1024

NUMBER_OPENSTACK_NODES=3
NUMBER_STORAGE_NODES=3

NUMBER_COMPUTE_NICS=6
NUMBER_STORAGE_NICS=4
NUMBER_ADMIN_NICS=6

# one of Am79C970A|Am79C973|82540EM|82543GC|82545EM|virtio  

IF_TYPE=82545EM

VBOXNET_4_IP="192.168.124.1"
VBOXNET_5_IP="192.168.125.1"
VBOXNET_6_IP="192.168.122.1"
VBOXNET_7_IP="192.168.123.1"
VBOXNET_8_IP="192.168.128.1"
VBOXNET_9_IP="192.168.129.1"

VBOXNET_MASK="255.255.255.0"


